<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nosotros</title>
</head>
<body>
    <h1>Sobre Nosotros</h1><p>Información sobre nosotros.</p>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobre_nosotros">Sobre Nosotros</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/roles">Roles</a></li>
        </ul>
    </nav>
</body>
</html>
